.jumbotron{
 background-color: transparent;
}

#page-header h1{
    color: #00437C;
}

a{
    color: #00437C;
}

span.error {
    color: red;
}

.mark-done{
    text-decoration: line-through;
}
.mark-undone{
    text-decoration: none;
}